.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
.project
public/assets/*
.DS_Store
.rvmrc
dump.rdb
.idea

# Don't commit docs, generate as required
doc/app

# Don't commit coverage reports, generate them by running tests
coverage/

# Don't commit stuff for IDEs, text editors
*.komodo*
*.sublime-*
*~
config/database.yml
vendor/bundle